<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/threatalert.css">
    <title>History</title>
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-header">
        <!-- logo -->
        <a class="navbar-brand mx-4 py-3" href="/landing">
            <img src="/img/ThreatAlertLogo.png" width="70" class="d-inline-block align-top" alt=""><font size="6"><b>ThreatAlert</b></font>
        </a>
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse navbar justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <div class="redirects">
                        <a class="btn btn-header" href="/home">Home<span class="sr-only"></span></a>
                        <a class="btn btn-header" href="/user/history">History<span class="sr-only"></span></a>
                      </div>
                  <!-- <a class="nav-item nav-link mx-4" href="#">Bookmark</a>
                  <a class="nav-item nav-link mx-4" href="#">History</a>
                  <a class="nav-item nav-link mx-4" href="#">Profile</a> -->
                  <a class="btn btn-dark" href="/user/logout" style="margin-right: 20px;">Log Out</a>

                </div>
            </div>
          </div>
    </nav>

    <div class="container-fluid">
        <header class="header-sh">Scan History</header>
        <table class="table table-history">
            <tr>
                <th class="link">URL</th>
                <th class="threat">Threat Level</th>
                <th class="date">Date</th>
                <th class="delete"></th>
            </tr>
            <tr th:each="website:${history}">
                <td>
                    <span th:text="${website.link}"></span>
                </td>
                <td>
                    <span th:if="${website.threatlevel == 'true'}" style="color: red;">Warning</span>
                    <span th:if="${website.threatlevel == 'false'}" style="color: green;">Clean</span>
                </td>
                <td>
                    <span th:text="${#dates.format(website.date, 'yyyy-MM-dd HH:mm:ss')}"></span>
                </td>
                <td></td>
            </tr>
        </table>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"></script>
</body>
</html>