<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/threatalert.css">
    <title>Log in</title>
</head>

<script th:if="${signupSuccess}">
    alert('Signup Successful! You Can Now Login.');
</script>

<body>

    <div class="container-fluid">
        <div class="row justify-content-center">
            
            <div class="container-login col-md-6">
                <img class="img-fluid logo-login" src="/img/ThreatAlertLogo.jpg" alt="">
                <h1 class="header-login">Log in to an existing account</h1>
                <h2 class="subheader-login">Enter your email and password</h2>
                <form action="/user/login" method="post">
                    <div class="mb-3">
                        <input type="email" id="email" name="email" class="form-login form-control form-control-lg" placeholder="Email" required>
                    </div>
                    <div class="mb-3">
                        <input type="password" id="password" name="password" class="form-login form-control form-control-lg" placeholder="Password" required>
                    </div>
                    <!-- Submit button -->
                    <div class="d-grid gap-2">
                        <input class="btn btn-dark" type="submit" value="Log in"></input>
                    </div>
                </form>
                <form action="/back">
                    <div class="mb-3"></div>
                    <div class="d-grid gap-2">
                        <input class="btn btn-light btn-back" type="submit" value="Back"></input>
                    </div>
                </form>
                <div>
                    <p th:if="${error}" th:text="${error}" style="color:red;"></p>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"></script>
</body>
</html>